body {
  margin: 0;
  text-align: center;
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  font-size: 20px;
  color: rgba(55, 49, 42, 0.897);
  background-color: rgb(249, 249, 249);
}
  
 /* Navbar */
.navbar {
  margin: 0%;
  position: sticky;
  top: 0.1px;
  background-color: rgb(249, 249, 249);
  padding: 10px;
  z-index: 1;
  flex-direction: column;
  display: flex;
}
  
.navbar img {
  left: 50px; 
  bottom: 10px; 
}
  
.nav-links {
  display: flex;
  flex-direction: column;
}
  
.nav-links ul li {
  display: inline-block;
}
  
.nav-links ul li a {
  position: relative;
  color: rgb(19, 17, 17);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 25px;
  text-align: center;
  font-family: 'Reem Kufi Ink', sans-serif;
}
  
.nav-links ul li a:before {
  position: absolute;
  content: '';
  bottom: 0;
  height: 3px;
  width: 100%;
  background: rgb(231, 161, 76);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s linear;
}
  
.nav-links ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
  
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
  
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(154, 69, 69);
  border-radius: 10px;
}

/* Wrapper for grid */
.wrapper-grid {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-gap: 2rem;
  justify-content: center;
}

h2 {
  font-size: 30px;
  color: rgba(36, 151, 228, 0.897);
}

/* profile card container */
.container {
  overflow: hidden;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
}

/* name */
.name {
  font-weight: bold;
  font-size: 1.5rem;
}

/* paragraph description */
.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

/* primary button at bottom */
.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(22, 1, 1);
  padding: 1rem;
  background-color:rgb(125, 190, 255);
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  cursor: pointer;
}

.btn:hover {
  background-color: #f3be7d;
  color: rgb(255, 255, 255);
}

/* Responsive Tablet */
@media screen and (min-width: 500px) {
  .wrapper-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Responsive Desktop */
@media screen and (min-width: 760px) {
  .wrapper-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile device */
@media (max-width: 780px) {

    body {
        margin: 0;
        text-align: center;
        vertical-align: middle;
        font-family: Geneva, Verdana,Tahoma, sans-serif;
        font-size: 20px;
        color: rgba(55, 49, 42, 0.897);
    }
  
    .navbar h1 { 
        display: block;
        margin-top: 20px;
        justify-self: center;
    }
  
    .toggle-button {
        display: flex;
    }
  
    .nav-links {
        display: none;
        width: 100%;
    }
  
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .nav-links ul li {
        display: flex;
        justify-content: center;
        padding-left: 35px;
    }
  
    .nav-links.active{
        display: flex;
    }
}  

  