body {
  margin: 0;
  text-align: center;
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  font-size: 20px;
  color: rgba(55, 49, 42, 0.897);
  background-color: rgb(249, 249, 249);
}

/* Navbar */
.navbar {
  margin: 0%;
  position: sticky;
  top: 0.1px;
  background-color: rgb(249, 249, 249);
  padding: 10px;
  z-index: 1;
  flex-direction: column;
  display: flex;
}

.navbar img {
  left: 50px; 
  bottom: 10px; 
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-links ul li {
  display: inline-block;
}

.nav-links ul li a {
  position: relative;
  color: rgb(19, 17, 17);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 25px;
  text-align: center;
  font-family: 'Reem Kufi Ink', sans-serif;
}

.nav-links ul li a:before {
  position: absolute;
  content: '';
  bottom: 0;
  height: 3px;
  width: 100%;
  background: rgb(231, 161, 76);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s linear;
}

.nav-links ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(154, 69, 69);
  border-radius: 10px;
}

/* Home section */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus-img img {
  width: 650px;
  height: 280px;
}

.aboutus-text {
  width: 60%;
}

.subscrption-form {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.subscrption-form input[type="email"]{
  background:none repeat scroll 0 0 #ffffff;
  border:1px solid #cccccc;
  border-radius:2px;
  display:inline-block;
  font:400 18px 'Reem Kufi Ink', sans-serif;
  height:24px;
  margin-right:10px;
  padding:8px;
  width:252px;
}

.subscrption-form input[type="submit"]{
  background-color: #ab2f2f;
  border:medium none;
  border-radius:3px;
  color:#ffffff;
  display:inline-block;
  font:400 18px/32px 'Reem Kufi Ink', sans-serif;
  padding:5px 20px;
  text-transform:uppercase;
 }

 .subscrption-form input[type="submit"]:hover {
  background-color: #f0e9e9;
  color: rgb(58, 59, 61);
}

.social a {
  font-size: 40px;
  padding-left: 50px;
  color: rgba(100, 100, 105, 0.897);
}

.social a:hover {
  color: rgb(228, 166, 96);
}

/* Blog section - latest post */
.blog-title span {
  font-size: 30px;
  color: rgba(36, 151, 228, 0.897);
}

.blog {
  margin-top: 100px;
  width: 100%;
  padding-top: 160px;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-bottom: 10px;
}

.post-info img {
  width: 50px; 
  height: 50px;
  border-radius: 50%; 
}

.post {
  text-align: left;
}

.blog img {
  padding: 0 20px;
} 

.latest-post {
  padding: 50px 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.read-more-btn {
  background-color: #ab2f2f;
  border:medium none;
  border-radius:3px;
  color:#ffffff;
  display:inline-block;
  font:400 18px/32px 'Reem Kufi Ink', sans-serif;
  padding:5px 20px;
}

.read-more-btn:hover {
  background-color: #f0e9e9;
  color: rgb(58, 59, 61);
}

/* Blog section - previous post */
.section {
  width: 85%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  grid-gap: 25px;
}

.card {
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px 0 px rgba(0,0,0,4);
  padding-bottom: 20px;
}

.image-section {
  min-height: 250px;
}

.card .img-one {
  background-image: url("../images/img-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .img-two {
  background-image: url("../images/img-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .img-three {
  background-image: url("../images/img-3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Mobile device */
@media (max-width: 780px) {
  body {
      margin: 0;
      text-align: center;
      vertical-align: middle;
      font-family: Geneva, Verdana,Tahoma, sans-serif;
      font-size: 20px;
      color: rgba(55, 49, 42, 0.897);
  }

  .navbar h1 { 
      display: block;
      margin-top: 20px;
      justify-self: center;
  }

  .toggle-button {
      display: flex;
  }

  .nav-links {
      display: none;
      width: 100%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-links ul {
      width: 100%;
      flex-direction: column;
  }

  .nav-links ul li {
      display: flex;
      justify-content: center;
      padding-left: 35px;
  }

  .nav-links.active{
      display: flex;
  }

  .aboutus-img img {
    width: 280px;
    height: 150px;
  }

  .aboutus-text {
    width: 90%;
  }
  
  .subscrption-form input[type="submit"]{
   margin-top: 20px;
   margin-right: 10px;
   padding: 0 ;
   padding:5px 85px;
   }
}

@media (max-width: 1024px) {
  /* Blog section */
  .blog-title span {
    font-size: 30px;
    color: rgba(36, 151, 228, 0.897);
  }

  .blog {
    margin-top: 100px;
    width: 100%;
  }

  .post-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-bottom: 30px;
    font-size: 16px;
  }

  .post-info img {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
  }

  .post {
    text-align: left;
  }

  .latest-post {
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  .read-more-btn {
    background-color: #ab2f2f;
    border:medium none;
    border-radius:3px;
    color:#ffffff;
    display:inline-block;
    font:400 18px/32px 'Reem Kufi Ink', sans-serif;
    padding:5px 20px;
  }

  .read-more-btn:hover {
    background-color: #f0e9e9;
    color: rgb(58, 59, 61);
  }

  .post-picture img {
    width: 350px;
    height: 250px;
  }
}